.step1 [data-video] {
  grid-column-end: 10;
  grid-column-start: 1;
  /* grid-row-end: 7; */
  width: 100%;
}

.step1 [data-video-small] {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 5;
  grid-row-end: 7;
  width: 100%;
}

.step1 [data-logo-area] {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-end: 13;
}

.step2 [data-logo-area] {
  grid-row-start: 1;
  grid-row-end: 4;
  /* place-content: center; */
}
.step2 [data-video] {
  grid-row-end: 7;
}

.step2 [data-video-small] {
  grid-row-start: 4;
}
