@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* If you want to add more variables here, you should also add them to tailwind.config.ts. */

    --white: #fff;
    --black: #000;

    --green: #082d1e;

    --green-dark: #0a1c12;

    --yellow: #ebb572;

    --orange: #de6536;

    --bluelight: #78a8cf;

    --muted: #999;
  }

  html {
    /* cursor: none; */
    font-size: 16px;
    @apply antialiased;
  }
}

@layer components {
  .container {
    @apply px-5 md:px-8 lg:px-12 xl:px-48 2xl:px-[40rem];
  }
  .text-stroke-3 {
    -webkit-text-stroke: 3px var(--orange);
  }
}

/* Lenis */
/* https://github.com/studio-freight/lenis?tab=readme-ov-file#recommended-css */

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
