.big_title {
  font-size: clamp(3rem, 29vw, calc(44rem - 1vw));
  text-align: center;
  line-height: 1;
  color: var(--yellow);
  margin-bottom: -3rem;
}

@media (max-width: 480px) {
  .big_title {
    margin-bottom: 0;
  }
}
